git+https://github.com/italia/docs-italia-theme.git@bootstrap-italia
git+https://github.com/teamdigitale/sphinxcontrib-httpspec@0.0.2
git+https://github.com/pdavide/sphinxcontrib-discourse
git+https://github.com/pdavide/sphinxcontrib-versiontag
recommonmark
doc8
sphinx<=1.7

# Render mermaid diagrams
git+https://github.com/teamdigitale/sphinxcontrib-mermaid@docsitalia-0.5
requests

