git+https://github.com/italia/docs-italia-theme.git@bootstrap-italia
git+https://github.com/teamdigitale/sphinxcontrib-httpspec
git+https://github.com/pdavide/sphinxcontrib-discourse
git+https://github.com/pdavide/sphinxcontrib-versiontag
recommonmark
doc8
sphinx

# Render mermaid diagrams
sphinxcontrib-mermaid
